hr
{
	margin-top: 40px;
	margin-bottom: 30px;
	height: 2px;
	background-color: #50A7DD;
	border: none;
}

a
{
	color: #50A7DD;
}

b
{
	color: #376;
}

p
{
	padding: 4px;
	color: #444;
}

a:hover
{
	text-decoration: underline;
}

#hd 
{
	border-bottom: solid 2px #50A7DD;
	height: 80px;
}

h3
{
	font-size: 130%;
	font-weight: bold;
}

#hd h1,#hd h2 
{
	display: none;
}

#hd #logo 
{
	float: left;
	position: relative;
	top: 20px;
}

#top
{
	background-color: #FFfefe;
	border-bottom: solid 2px #50A7DD;
	height: 440px;
}

#top .download1
{
	background-image: url(/images/howto.png);
	background-repeat: no-repeat;
	background-position: 44px 130px;
	height: 440px;
}

#top .download2
{
	height: 420px;
}

h2 
{
	font-size: 160%;
	font-weight: bold;
}

#top .download1 h2 
{
	padding-bottom: 0px;
	padding-top: 20px;
	width: 420px;
}

#mid-content, #mid-sidebar
{
	padding-top: 20px;
}

ul#nav
{
	float: right;
	position: relative;
	top: 53px;
	padding-right: 10px;
}

.ie ul#nav
{
	top: 52px;
}

.ie #download-button a 
{
	text-decoration: none;
}

#nav li {
	list-style-type: none;
	list-style-position: inside;
	display: inline;
	line-height: 30px;
	font-size: 120%;
	font-weight: bold;
	padding-left: 8px;
}

#nav li a {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	background-color: #fff;
	color: #999;
	border-top: 2px solid #A3DDFF;
	border-left: 2px solid #A3DDFF;
	border-right: 2px solid #A3DDFF;
}

#nav li.active a {
	background-color: #FFfefe;
	border-top: 2px solid #50A7DD;
	border-left: 2px solid #50A7DD;
	border-right: 2px solid #50A7DD;
	border-bottom: 2px solid #FFfefe;
	color: #444;
}

#nav li a:hover {
	color: #444;
}

#ft
{
	margin-top: 20px;
	padding-top: 2px;
	padding-bottom: 10px;
	border-top: solid 2px #50A7DD;
	font-size: 80%;
	color: #888;
	text-align: center;
}

#intro-box
{
	padding-left: 44px;
	padding-right: 56px;
	text-align:justify;

}

#download-box
{
	margin: 10px;
	margin-top: 20px;
	border-top: 4px solid #50A7DD;
	border-bottom: 4px solid #50A7DD;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

#download-button 
{
	padding-bottom: 6px;
	font-size: 180%;
}
#download-win 
{
	font-size: 60%;
	font-weight: bold;
}

#get-box 
{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 30px;
}

#get-box ul
{
	font-size: 130%;
	font-weight: bold;
}

#get-box li
{
	font-size: 80%;
	font-weight: normal;
	list-style-type: square;
	list-style-position: inside;
}

#need-box 
{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 30px;
}

#need-box ul
{
	font-size: 130%;
	font-weight: bold;
}

#need-box li
{
	font-size: 80%;
	font-weight: normal;
	list-style-type: square;
	list-style-position: inside;
}

#support-box 
{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 80%;
}
#support-box p 
{
	padding-bottom: 5px;
}

#download-wrap 
{
	position: absolute;
}

.step
{
	clear: both;
	padding-top: 20px;
}

.step h3
{
	padding-bottom: 6px;
}

.step p
{
	padding-top: 4px;
	padding-left: 18px;
}

.step img
{
	padding: 4px;
	padding-left: 18px;
	float: left;
}

.step .separated 
{
	clear: both;
	padding-top: 40px;
}

.step.start
{
	padding-top: 10px;
}

#last-box 
{
	padding-top: 20px;
}

/* satisfaction */
div#gsfn_list_widget img { border: none; }
div#gsfn_list_widget { font-size: 12px; border: 2px solid #50A7DD; padding: 10px; }
div#gsfn_list_widget a.widget_title { color: #000; display: block; margin-bottom: 10px; font-weight: bold; }
div#gsfn_list_widget .powered_by { margin-top: 8px; padding-top: 8px; border-top: 1px solid #DDD; }
div#gsfn_list_widget .powered_by a { color: #333; font-size: 90%; }
div#gsfn_list_widget div#gsfn_content { }
div#gsfn_list_widget div#gsfn_content li { text-align:left; margin-bottom:6px; }
div#gsfn_list_widget div#gsfn_content a.gsfn_link { line-height: 1; }
div#gsfn_list_widget div#gsfn_content span.time { font-size: 90%; padding-left: 3px; }
div#gsfn_list_widget div#gsfn_content p.gsfn_summary { margin-top: 2px }

#ft a 
{
	color: #444;
}