<div class="yui-gc" width="100%">
	<div class="yui-gb first">
			<div class="yui-u">
				<div id="get-box">
				<ul>What do you get?
					<li>Filesystem Monitor</li>
					<li>Firefox extension</li>
					<li>Internet Explorer addon</li>
					</ul>
				</div>
			</div>
			<div class="yui-u">
				<div id="need-box">
					<ul>What do you need?
					<li>Windows + .NET 2.0</li>
					<li>Firefox + Firebug</li>
					<li>Internet Explorer</li>
					</ul>
				</div>
			</div>
			<div class="yui-u">
			</div>
		</div>
	<div class="yui-u">
		<div id="download-box">
			<div id="download-button"><a href="http://xrefresh.googlecode.com/files/xrefresh-0.6.msi" title="XRefresh 0.6">DOWNLOAD</a></div>
			<div>XRefresh 0.6 beta</div>
			<div id="download-win">for Windows (32-bit) [~2.1MB]</div>
			<div id="download-rel">released 01/02/2008</div>
		</div>
	</div>
</div>
						