<div id="intro-box">
<h2>So, you are a web developer?</h2>
<p>XRefresh can refresh your browser right after you save a modified html file.
It works also for images or any other source files used by your web site.
In case you have two monitors you may stay in your favorite html editor 
and turn your browser into instant previewer of your work.</p>
</div>
