<div id="intro-box">
<!--
<h2>How intimate are you with [F5] key?</h2>
<p>Really? Your therapy has ended today. You don't need it anymore!<br/><b>XRefresh can refresh your browser automatically</b> right after you save a modified HTML file.
It works great also for images, CSS files or any other source files used by your web site.
In case you have <b>two monitors</b> you may stay in your favorite html editor 
and turn your browser into live <b>preview window of your work</b>.</p>
-->
</div>

