<div class="yui-g" width="100%">
	<div class="yui-g first">
		<div class="yui-u first">
			<div id="get-box">
			<ul>What do you get?
				<li>Filesystem Monitor</li>
				<li>Firefox extension</li>
				<li>Internet Explorer addon</li>
				</ul>
			</div>
				</div>
				<div class="yui-u">
					<div id="need-box">
					<ul>What do you need?
				<li>Windows + .NET 2.0</li>
						<li>Firefox + Firebug</li>
				<li>Internet Explorer</li>
						</ul>
			</div>
						</div>
	</div>
	<div class="yui-g">
		<div class="yui-u first">
			<div id="download-box">
				<div id="download-button"><a href="http://xrefresh.googlecode.com/files/xrefresh-0.6.msi" title="XRefresh 0.6">DOWNLOAD</a></div>
				<div>XRefresh 0.6 beta</div>
				<div id="download-win">for Windows (32-bit) [~2.1MB]</div>
				<div id="download-rel">released 01/02/2008</div>
			</div>
		</div>
		<div class="yui-u">
<div id="support-box">
<% if false then %>
	<p>It's free! But want to say "thank you" ?</p>
<script type="text/javascript">
digg_url = 'http://digg.com/programming/TextboxList_Fancy_Facebook_Like_dynamic_inputs';
</script>
<script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script> 
<script>reddit_url='http://www.thisislondon.co.uk/news/articl'</script><script>reddit_title='TEST'</script><script language="javascript" src="http://reddit.com/button.js?t=2"></script>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="antonin@hildebrand.cz">
<input type="hidden" name="item_name" value="XRefresh - browser refresh automation for web developers">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="return" value="http://xrefresh.com/thanks">
<input type="hidden" name="cancel_return" value="http://xrefresh.com/cancel">
<input type="hidden" name="cn" value="Making a public donation?">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="tax" value="0">
<input type="hidden" name="lc" value="CZ">
<input type="hidden" name="bn" value="PP-DonationsBF">
<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but04.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<% end %>

</div>
		</div>
	</div>
</div>
						