<h2>Save your files and XRefresh will refresh your browser automatically!</h2>
<h3>* works best with two monitors</h3>
<div id="download-wrap">
	<div id="download-box">
		<div id="download-button"><a href="http://xxx">DOWNLOAD</a></div>
		<div>XRefresh 0.6 beta</div>
		<div id="download-win">for Windows (32-bit) [~2MB]</div>
	</div>
	<div id="get-box">
		<ul>What do you get?
			<li>Filesystem Monitor (tray application)</li>
			<li>Firefox extension (firebug plugin)</li>
			<li>Internet Explorer addon</li>
		</ul>
	</div>
	<div id="need-box">
		<ul>What do you need?
			<li>Windows + .NET 2.0</li>
			<li>Firefox + Firebug</li>
			<li>Internet Explorer</li>
		</ul>
	</div>
	<div id="free-box">
	It's free!
	</div>
</div>
