<div class="yui-gc" width="100%">
  <div class="yui-u first">
    <div class="yui-gb">
      <div class="yui-u">
        <div id="get-box">
          <ul>What do you get?
            <li>Filesystem Monitor</li>
            <li>Firefox extension</li>
            <li>Internet Explorer addon</li>
          </ul>
        </div>
      </div>
      <div class="yui-u">
        <div id="need-box">
          <ul>What do you need?
            <li>Windows + .NET 2.0</li>
            <li>Firefox + Firebug</li>
            <li>Internet Explorer</li>
          </ul>
        </div>
      </div>
      <div class="yui-u">
        <div id="screencast-box">
          <p>TODO: Need a screencast here ...</p>					
        </div>
      </div>
    </div>
  </div>
  <div class="yui-u">
    <div id="download-box">
      <div id="download-button"><a href="http://xrefresh.googlecode.com/files/xrefresh-0.7.msi" title="XRefresh 0.7">DOWNLOAD</a></div>
      <div>XRefresh 0.7 beta</div>
      <div id="download-win">for Windows (32-bit) [~2.2MB]</div>
      <div id="download-rel">released 26/02/2008</div>
    </div>
  </div>
</div>
