<div id="step1-box" class="step">
<h3>1. Launch <b>XRefresh</b> and check for it in the traybar</h3>
<%= image_tag('tray.png', { :size=>'121x36', :id=>'tray-img' }) %>
<p>After start the icon is gray and it means that there are no browsers connected to <b>XRefresh</b>.</p>
</div>
