<div id="letter">
<p>Hello,</p><p>I've created this program to ease my <b>web development</b>. I use two monitors and various <b>HTML editing tools</b>.
I don't use any <b>WYSIWYG editors</b>, because I have quite bad experience with them. They simply suck from times of Microsoft FrontPage and it seems it is not going to be better.
Anyway I'm a coding guy and I want to have the code under <b>my control</b>.</p>
<p>These days I've ended using <b>Firefox</b> and <b>Firebug</b> for daily web development and doing manual page refreshing. 
That is why I've created this tool. I wanted to omit monkey refreshing and stay on the keyboard with my fingers for most of the time.</p>
<p><b>XRefresh</b> is quite flexible. You can use it with almost any editor and web stack. You can even use it over network. I'm curious what tools do you use XRefresh with. If you have interesting combination, please tell us in <a href="http://getsatisfaction.com/xrefresh">the forum</a>.</p>
<p>Hope this tool will be useful and wish you fast web stack :-)</p>
</div>
<hr/>
<p>To create this piece of software I have used work by quite many people from the web. I'm going to list some of them here as soon as I save some extra time for digging into sources. For now, just "Thank you guys" :-)</p>
<hr/>
<p>Just note about licensing:<br/>
This program is <b>free</b>. If you paid for it, you should get refund.<br/>
This program is <b>opensource</b> under MIT license with exception of logo, graphics, website and installer which are licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">this license.</a>
</p>
