<h2>Ready to start?</h2>
<div id="last-box" class="clear">
  <p>You may want to see <a href="help">help page</a> for some screenshots and simple guide.</p>
  <p>Stay tuned! There is more stuff to come.</p>
</div>