<div id="final-step-box" class="step">
<h3>And finaly you are ready to go</h3>
<p>You should see active icon in the traybar.<p>
<%= image_tag('traya.png', { :size=>'120x36' }) %>
<p>Now, when you modify any file which passes the project settings, tray icon will flash and browser gets refreshed.</p>
</div>
