<div id="gsfn_list_widget">
  <a href="http://getsatisfaction.com/xrefresh" class="widget_title">Active discussions about XRefresh</a>
<div id="gsfn_content">Loading...</div>
  <div class="powered_by"><a href="http://getsatisfaction.com/"><img alt="Favicon" src="http://www.getsatisfaction.com/favicon.gif" style="vertical-align: middle;" /></a> <a href="http://getsatisfaction.com/">Service and support by Satisfaction</a></div>
</div>
<script src="http://getsatisfaction.com/xrefresh/widgets/javascripts/2503/widgets.js" type="text/javascript"></script><script src="http://getsatisfaction.com/xrefresh/topics.widget?callback=gsfnTopicsCallback&amp;length=200&amp;limit=5&amp;sort=recently_active" type="text/javascript"></script>
