<div id="source-box">
  <h3>Interested in XRefresh source code ?</h3>
  <div id="googlecode"><a href="http://code.google.com/p/xrefresh/">XRefresh project at Google Code</a></div>
  <div id="license">
    This program is <b>free</b>. If you paid for it, you should get refund.
    This program is <b>opensource</b> under MIT license with exception of logo, graphics, website and installer which are licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">this license.</a>
  </div>
</div>