<div id="step2-box" class="step">
  <h3>2. Tell <b>XRefresh</b> where are located your files</h3>
  <p><b>XRefresh</b> will watch for your modified files. But you have to tell where are your web projects located on the disk.
    Don't worry, you can simply drag&drop interesting folders onto configuration dialog.
  </p>
  <%= image_tag('config.png', { :size=>'479x120' })  %>
</div>
