<div id="step3-box" class="step">
  <h3>3. Let <b>Firefox</b> or <b>Internet Explorer</b> connect to XRefresh</h3>
  <p>In <b>Firefox</b> you need a latest version of <%= link_to('Firebug', 'http://getfirebug.com', {:title=>'Firebug - web development evolved'}) %>.
  <b>XRefresh</b> acts as plugin into <b>Firebug</b> and has it's own tab panel in Firebug window. You need to <b>enable Firebug</b> for particular site to enable XRefresh functionality.</p>
  <%= image_tag('ffintro.png', { :size=>'417x179' }) %>

  <p class="separated">In <b>Interenet Explorer 7</b>
  you can find XRefresh icon in the tools in the top right corner (the icon may be hidden in the chevron section).</p>
  <%= image_tag('ie7toolbar.png', { :size=>'306x46' }) %>
  <p>The icon reflects the connection status. You may click it to open <b>XRefresh</b> Panel:</p>
  <%= image_tag('ie7console.png', { :size=>'392x136' }) %>

</div>
