<p class="note">A screencast would be great, any volunteer here ? :-)</p>
<%= render :partial => 'shared/step1' %>
<%= render :partial => 'shared/step2' %>
<%= render :partial => 'shared/step3' %>
<%= render :partial => 'shared/final_step' %>
<div id="last-box">
<!--<p>You may want to check other help pages for more info.</p>-->
</div>
