<div id="space-bar"></div>

<div id="shock">
    <p >Looks good?</p>
</div>

<div id="update">
  <div>
    <a href="https://addons.mozilla.org/en-US/firefox/addon/1843">#1 Update Firebug</a>
    <p>Firebug 1.2+ is required</p>
  </div>
</div>

<div id="download">
  <div>
    <a href="https://addons.mozilla.org/en-US/firefox/addon/7575">#2 Install Rainbow</a>
    <p>via addons.mozilla.org</p>
  </div>
</div>

<img src="http://rainbow4firebug.googlecode.com/svn/trunk/support/screenshot.png"/>

<div id="extras"><span>Want more?</span></div>
<div id="show-box">
    <div id="presets-box">
      <a href="presets">
      <%= image_tag('presets.png', { :size=>'91x50' }) %>
      <p>get more<br/>color presets</p>
      </a>
    </div>
  <div id="satisfaction-box">
      <a href="http://getsatisfaction.com/xrefresh/products/xrefresh_rainbow_for_firebug">
    <%= image_tag('pact.png', { :size=>'124x50' }) %>
    <p>get more<br/>satisfaction</p>
      </a>
  </div>
  <div id="code-box">
      <a href="http://code.google.com/p/rainbow4firebug/source/checkout">
    <%= image_tag('codemirror.jpg', { :size=>'50x50' }) %>
    <p>get more<br/>source code</p>
      </a>
  </div>
</div>